/**ERP Section**/
.section-erp-header {
  background-image: url("~/./public/images/erp-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 18rem;
  justify-content: center;
}
.erp-card__wrapper {
  margin: 1rem 1rem;
  border: 1px solid #a0a0a0;
  border-radius: 0.3rem;
  flex: 1 0 auto;
}
.erp-card__heading-wrapper {
  background-color: #40e0d0;
  height: 3rem;
}
.erp-card__heading {
  color: white;
  margin-top: 0.8rem;
}
.erp-card__content {
  padding: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
}
.erp-card__image {
  width: 70%;
}
.erp-card__text {
  flex: 1 0 auto;
  margin-top: 0;
  font-size: 0.8rem;
  width: 60%;
}
@media only screen and (min-width : 768px) {
  .erp-card__wrapper {
    margin: 2rem 10rem;
  }
  .erp-card__text {
    font-size: 1rem;
    width: 50%;
  }
}
