/**Notice Section**/
.section_notice__background {
  background-image: url(/public/images/notice-bg.png);
  background-size: 100% 100%;
  min-height: 18rem;
}
.section-notice__background-color {
  background-color: #f5f5f5;
  margin-bottom: 0;
}
.notice-row-card__wrapper {
  margin: 1rem 1rem;
  align-items: center;
}
.notice-row-card__image {
  width: 100%;
}
.notice-row-card__content {
  width: 100%;
}
@media only screen and (min-width : 768px) {
  .notice-row-card__wrapper {
    margin: 2rem 5rem;
    flex-direction: row;
    justify-content: space-around;
  }
  .notice-row-card__image {
    width: 80%;
  }
  .notice-row-card__content {
    width: 60%;
  }
}
