@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "css/layout.css";
@import "css/base.css";
@import "css/style.css";
@import "css/typography.css";
/****Home Page****/

/*Main Menu*/
ul.main-menu {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .75);
  text-align: right;
  transition: 0.6s;
  margin-bottom: 0;
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 0.8rem;
  top: 0;
  left: 0;
  right: 0;
  margin-left: -100px;
}
ul.main-menu li {
  margin: .5rem 2rem;
}
ul.main-menu a {
  text-decoration: none;
  color: white;
  padding: 0;
  display: inline-block;
  margin-right: -14px;
  margin-left: -14px;
  cursor: pointer;
    box-shadow: inset 0 0 0 0 #C14800;
	  -webkit-transition: all ease 0.8s;
	  -moz-transition: all ease 0.8s;
	  transition: all ease 0.8s;
}
ul.main-menu a:hover {
  box-shadow: inset 0 100px 0 0 #C14800;
}
ul.main-menu a.active {
  padding: .1rem 0.3rem;
  background-color: #00a9c9;
  border-radius: 0.3rem;
  display: inline-block;
  margin-right: -14px;
  margin-left: -14px;
}
/****Basic Layout****/
.home-text-heading {
  align-self: center;
}
.hero-heading {
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 5rem;
}
/****Common Layout****/
.hero-heading-color {
  color: white;
}
.hero-left-heading {
  margin-left: 8rem;
}
/***Own Layout***/
.features-inner-heading {
  margin-left: 18rem;
}
.contacts-heading-content {
  margin-top: 3rem;
}
.transport-inner-content {
  align-self: flex-end;
  margin-top: 2rem;
  margin-right: 8rem;
}
.review-heading {
  text-align: center;
}
/*******Home Page*******/
/*Hero Section*/
.hero-section {
  background-color: #00D9E3;
  background-size: 100% 70%;
  min-height: 15rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.home-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}
.home-image-section {
  flex: 0;
  margin-right: 8rem;
  margin-top: 3rem;
}
.home-image-content {
  flex-direction: column;
  align-self: center;
  flex: 1;
}
.home-button-section {
  display: flex;
  flex-wrap: wrap;
}
.header-section {
  flex-direction: row;
  display: flex;
  margin-top: 0;
  background-color: hidden;
  z-index: 100;
  height: 2rem;
}
.logo-section {
  margin-left: 1rem;
  margin-top: 0;
  width: 5rem;
  height: 2rem;
  position: relative;
  z-index: 1;
}
.inner-logo {
  display: none;
}
/*Erp Section*/
.erp-section-container {
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}
.erp-section {
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  margin-top: 2rem;
}
.erp-content {
  flex-direction: column;
}
.erp-button-container {
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.erp-button {
  text-decoration: none;
  text-align: center;
  margin-left: 1rem;
  width: 11rem;
  border: 1px solid;
  border-color: #003d44;
  color: #003d44;
  background-color: white;
  margin-top: 1rem;
  font-weight: 900;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 0.2rem;
  padding: 0.5rem;
  transition: all .2s ease-in-out;
}
.erp-button:hover {
  background-color: #003d44;
  color: white;
  box-shadow: 0 8px 16px 0 #888;
  transform: scale(1.1);
}
.erp-image-section {
  width: 25rem;
  height: 25rem;
  margin-bottom: 1rem;
}
.erp-heading {
  font-size: 2rem;
  margin-top: 0;
  align-self: center;
}
/*ERP Inner Section*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}
@-webkit-keyframes typing { from { width: 0; } }
/*Permissions and Role Section*/

.permissions-background-section h1 {
  animation:
      slideUp 0.75s .5s cubic-bezier(0.17,.88,.32,1.27) both,
      fadeIn .25s .5s ease-in both;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
@keyframes slideUp {
    from {transform: translateY(200%);}
    to {transform:translateY(-50%);}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*Principal App Section*/
.section-content {
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.row-section {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}

/*Digital Notice Board Section*/
.notice-color {
  color: #FF6A00;
}
/*Digital Notice Board Inner Section*/
.notice-text-color {
  color: #fdfad7;
}
/*Features Section*/
.features-section {
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.features-border-section {
  border-style: solid;
  border-width: 1px;
  border-color: #fbfbfb;
  background: #EEEEEF;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
  background-color: #fbfbfb;
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
  position: relative;
}
.card-image {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  align-self: center;
}
.features-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.features-border-section:hover .features-overlay {
  opacity: 1;
}
.card-text {
  color: #008CBA;
  text-align: center;
  font-weight: bold;
}
.features-button {
  text-decoration: none;
  color: black;
  text-align: center;
  border: 1px solid;
  border-color: white;
  background-color: white;
  font-weight: bold;
  width: 8rem;
  padding: 0.2rem;
  margin-top: 4rem;
  border-radius: 0.2rem;
  align-self: center;
}
/*Features Inner Section*/
.features-inner-background {
  background-image: url("~/./public/images/features-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 18rem;
}
.features-inner-section {
  background-color: #F5F5F5;
  padding-top: 2rem;
}
.features-inner-row {
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0;
}
.features-card-heading {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin-top: 0;
  background-color: #40e0d0;
}
.features-card-row {
  flex-direction: row;
  justify-content: space-around;
}
.features-card-border {
  border: 1px solid #a0a0a0;
  border-radius: 0.2rem;
  width: 25rem;
  height: 12rem;
}
.features-card-image {
  width: 6rem;
  height: 5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.features-card-text {
  margin-top: 1rem;
  width: 21rem;
}
/*Customer Speak Section*/
.customer-heading {
  text-align: center;
}
.customer-section {
  flex-direction: row;
  justify-content: space-around;
}
.customer-border {
  border: 1px solid;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-color: #9ecaed;
  width: 18rem;
  height: 20rem;
  align-self: center;
  margin-bottom: 2rem;
  transition: all .2s ease-in-out;
}
.customer-border:hover {
  transform: scale(1.1);
}
.customer-card-text {
  text-align: justify;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
}
.customer-border-heading {
  margin-left: 1rem;
}
.customer-role-section {
  flex-direction: row;
}
.customer-role-text {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
.customer-image {
  width: 18rem;
  height: 12rem;
}
.customer-text {
  margin-top: 0;
  font-size: 0.9rem;
  margin-left: 1rem;
}
/*Push Notification Section*/
.push-heading {
  text-align: center;
  animation: bounceIn 2s;
}
.push-section {
  flex-direction: row;
  justify-content: center;
  flex: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.push-inner-heading {
  margin-left: 3.5rem;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.push-image {
  width: 25rem;
  height: auto;
  margin-left: 2.5rem;
  position: relative;
}
.push-image {
  -webkit-animation:movingimage 5s;
  animation-iteration-count: 1;
}
.push-inner {
  align-self: center;
}
.push-text {
  margin-left: 2rem;
  line-height: 2rem;
  position: relative;
}
.push-text, .push-inner-heading, .push-button {
  -webkit-animation:movingbox 5s;
  animation-iteration-count: 1;
}
@-webkit-keyframes movingbox{
  0%{left:90%;}
  50%{left:0%;}
}
@-webkit-keyframes movingimage{
  0%{right:90%;}
  50%{right:0%;}
}
.push-button {
  text-decoration: none;
  text-align: center;
  padding-top: 0.5rem;
  border: 1px solid;
  border-color: #30465b;
  background-color: #30465b;
  color: white;
  font-weight: bold;
  width: 8rem;
  padding: 0.5rem;
  margin-left: 3.5rem;
  border-radius: 0.2rem;
  position: relative;
}
.push-button:hover {
  background-color: white;
  color: #30465b;
}
.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  animation-delay: .2s;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/*Contacts Inner Section*/
@keyframes slideUp {
    from {transform: translateY(200%);}
    to {transform:translateY(-50%);}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*Footer section*/
.footer-section {
  background-image: url("~/./public/images/footer-bg.jpg");
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
}
.footer-about-container {
  flex-direction: column;
  flex: 1;
  margin-left: 5rem;
}
.footer-about-heading {
  color: white;
  font-size: 1.5rem;
}
.footer-about-content {
  text-align: justify;
  width: 20rem;
  color: white;
}
.footer-address-container {
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
.footer-form-container {
  flex: 1;
}
.footer-about-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.footer-inner-content {
  flex-direction: row;
}
.footer-address-image {
  width: 3rem;
  height: 3rem;
}
.footer-address-text {
  color: white;
  margin-left: 0.5rem;
}
.footer-address-heading {
  font-size: 1.5rem;
  color: white;
  margin-top: 0.5rem;
}
.footer-address-section {
  flex-direction: row;
  align-items: center;
}
.footer-address-content {
  color: white;
  margin-left: 1rem;
}
.footer-phone-section {
  flex-direction: row;
  margin-top: 2rem;
}
.footer-phone-content {
  color: white;
  margin-left: 0.5rem;
}
.footer-email-section {
  flex-direction: row;
  margin-top: 2rem;
}
.footer-email-content {
  color: white;
  margin-left: 1rem;
}
.footer-form-section {
  margin-right: 0;
  margin-top: 0;
}
.footer-form-heading {
  color: white;
}
.footer-form-text {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
  margin-top: 0.1rem;
  margin-bottom: 16px;
}
.footer-message-section {
  width: 80%;
  padding: 15px;
  border-radius: 0.3rem;
  box-sizing: border-box;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}
.footer-submit-button {
  background-color: transparent;
  border-color: white;
  color: white;
  padding: 5px 8px;
  width: 5rem;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}
.footer-submit-button:hover {
  background-color: #1c3c5d;
  color: #FF6A00;
}
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@media screen and (max-width: 1024px) {
  ul.main-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
  }
  .mobile-menu-icon {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: red;
    margin-left: 0.5rem;
    font-size: x-large;
    }
  ul.main-menu.show-mobile-menu {
    display: flex;
    width: 90%;
    font-size: 1rem;
    margin-top: 0;
  }
  /****Basic Layout****/
  .home-text-heading {
    text-align: center;
    font-size: 2rem;
  }
  .hero-heading {
    font-size: 2rem;
    text-align: center;
  }
  .hero-left-heading {
    margin-left: 0;
  }
  /****Own Layout****/
  .features-inner-heading {
    margin-left: 0;
    align-self: center;
    margin-top: 3rem;
  }
  .transport-inner-content {
    align-self: center;
    text-align: center;
    margin-right: 0;
    margin-top: 4rem;
  }
  /*Hero Section*/
  .logo-section {
    display: none;
  }
  .header-section {
    margin-top: -2em;
  }
  .inner-logo {
    display: block;
    width: 6rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-top: -3rem;
    align-self: center;
  }
  .home-heading {
    font-size: 1rem;
    margin-left: 3.5rem;
    margin-bottom: 8rem;
  }
  .home-text {
    margin-left: 2rem;
    align-self: center;
  }
  .home-container {
    display: -webkit-inline-box;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0;
  }
  .home-image-section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: -5px;
  }
  .header-girl-image {
    width: 8rem;
    margin-bottom: 0;
  }
  .header-tab-image {
    width: 12rem;
    align-self: center;
  }
  .home-button {
    width: 10rem;
    font-size: 0.7rem;
  }
  /*Permissions and Role Section*/
  .permissions-heading-section {
    font-size: 1.8rem;
    margin-top: 3rem;
  }
  .permissions-section {
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    margin-bottom: 0;
  }
  .container {
    flex-wrap: wrap;
    align-items: center;
  }
  .permissions-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .permissions-title-border {
    flex: 2;
  }
  .permissions-inner-border {
    flex: 1;
  }
  .overlay-text {
    font-size: 0.8rem;
  }
  /*Features section*/
  .features-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .features-inner {
    flex-direction: row;
    justify-content: space-around;
  }
  .features-section {
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2%;
    margin-left: 2%;
  }
  .features-border-section {
    width: 10rem;
    height: 8rem;
    margin-left: 3%;
    margin-right: 3%;
    align-self: center;
  }
  .card-image {
    margin-left: 1%;
    margin-right: 1%;
    width: 3rem;
    height: 4rem;
  }
  .card-text {
    text-align: center;
    font-size: 0.8rem;
  }
  .features-button {
    margin-top: 3rem;
    font-size: 0.8rem;
    width: 5rem;
  }
  /*Features Inner Section*/
  .features-inner-background {
    min-height: 10rem;
  }
  .features-inner-heading {
    text-align: left;
    font-size: 2rem;
  }
  .heading {
    text-align: center;
    margin-left: 0;
  }
  .features-inner-row {
    display: flex;
    flex-wrap: wrap;
  }
  .features-card-border {
    width: 18rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .features-card-text {
    font-size: 0.8rem;
  }
  .features-card-row {
    margin-top: 0;
  }
  /*Customer Speak Section*/
  .customer-heading {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .customer-section {
    flex-direction: column;
  }
  .customer-border {
    width: 15rem;
    height: 18rem;
    margin-left: 0;
    align-self: center;
  }
  .customer-image {
    width: 15rem;
    align-self: center;
  }
  .customer-role-text {
    font-size: 0.7rem;
  }
  .customer-text {
    margin-top: 0;
    font-size: 0.8rem;
  }
  .customer-card-image {
    width: 5rem;
    margin-left: 0;
    margin-top: 0;
    align-self: center;
  }
  .customer-card-text {
    font-size: 0.8rem;
  }
  /*Push Notification Section*/
  .push-heading {
    font-size: 1.5rem;
  }
  .push-section {
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  .push-inner-heading {
    text-align: justify;
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .push-image {
    width: 15rem;
    align-self: center;
    margin-left: 0;
  }
  .push-text {
    text-align: justify;
    margin-left: 0;
    margin-right: 1rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .push-button {
    margin-left: 1.5rem;
  }
  /*Transport Section*/
  .transport-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0;
    margin-top: 5rem;
  }
  .transport-inner-heading {
    font-size: 1.5rem;
    text-align: center;
  }
  .transport-section {
    flex-direction: column;
  }
  .transport-image {
    margin-top: 0;
    width: 16rem;
    height: 12rem;
    align-self: center;
    margin-left: 0;
    margin-bottom: 0;
  }
  .transport-text {
    text-align: justify;
    font-size: 0.8rem;
    margin-left: 0;
    margin-top: 1rem;
    width: 16rem;
    align-self: center;
  }
  /*Contacts Inner Section*/
  .contacts-background-image {
    height: 12rem;
  }
  .contacts-heading {
    text-align: center;
    font-size: 2rem;
    margin-top: 3.5rem;
    margin-left: 0;
  }
  .contacts-inner-heading {
    text-align: center;
    font-size: 1rem;
  }
  .contacts-row {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .contacts-text {
    text-align: justify;
    align-self: center;
  }
  .contacts-container-heading {
    align-self: center;
  }
  .contacts-text-content {
    align-self: center;
  }
  .contacts-inner-content {
    flex-direction: row;
    text-align: justify;
    align-self: center;
  }
  .notice-color {
    text-align: center;
  }
  .contacts-form-section {
    width: 80%;
    align-self: center;
  }
  .contacts-inner-background {
    width: 80%;
    flex: 2;
  }
  .contacts-section {
    flex-direction: column;
  }
  .contacts-inner-text {
    font-size: 1rem;
  }
  .contacts-inner-address {
    font-size: 0.9rem;
  }
  .contacts-inner-email {
    font-size: 0.9rem;
  }
  .contacts-button {
    width: 12rem;
    font-size: 0.8rem;
  }
  /*Footer section*/
  .footer-section {
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-about-section {
    align-self: flex-end;
  }
  .footer-about-container {
    margin-left: 0;
  }
  .footer-about-content {
    text-align: justify;
    width: 18rem;
    font-size: 0.8rem;
    align-self: center;
  }
  .footer-heading {
    align-self: center;
    color: white;
  }
  .footer-about-heading {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    align-self: center;
    margin-left: 0;
  }
  .footer-about-section {
    width: 100%;
  }
  .footer-address-heading {
    align-self: center;
  }
  .footer-address-section {
    align-self: center;
  }
  .footer-address-content {
    font-size: 0.8rem;
    text-align: justify;
    white-space: nowrap;
  }
  .footer-phone-section {
    align-self: center;
    margin-left: -4em;
  }
  .footer-phone-content {
    text-align: justify;
    font-size: 0.8rem;
  }
  .footer-email-section {
    align-self: center;
    margin-left: -1em;
  }
  .footer-email-content {
    text-align: justify;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-left: 0.6rem;
  }
  .footer-form-section {
    align-self: center;
  }
  .footer-form-text, .footer-message-section {
    align-self: center;
    width: 80%;
  }
  .footer-submit-button {
    margin-left: 2rem;
  }
  .footer-form-heading {
    align-self: center;
  }
  .footer-content-section {
    flex-direction: column;
    align-self: center;
  }
  .footer-location-section {
    height: 3rem;
    margin-top: 1.5rem;
  }
  .footer-phone-heading {
    margin-right: 36%;
    align-self: center;
  }
  .footer-email-heading {
    margin-right: 25%;
    align-self: center;
  }
}
/*****Media Query *****/
@media screen and (min-width: 1024px) {
  .mobile-menu-icon {
    display: none;
  }
  .home-page ul.main-menu {
    background-color: rgba(255, 255, 255, 0);
  }
  .home-page ul.main-menu.fix-top-menu {
    background-color: rgba(0, 0, 0, .75);
    height: 1.5rem;
  }
  .fix-top-menu {
    position: fixed;
    top: 0;
  }
  /*Hero Section*/
  ul.main-menu {
    margin-top: 0;
    width: 105%;
    justify-content: flex-end;
    flex-direction: row;
    height: 1.2rem;
  }
  ul.main-menu li:last-child {
    margin-right: 5%;
  }
  .hero-section {
    min-height: 35rem;
  }
}
/****Tab Media Query**/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  /***Hero Section***/
  .header-tab-image {
    width: 27rem;
    margin-left: 0;
    margin-bottom: 0;
    align-self: center;
    top: 2.2em;
  }
  .image-button {
    bottom: 18px;
    right: 12rem;
    font-size: 0.9rem;
    width: 11rem;
  }
  .header-phone-image {
    width: 8rem;
    height: 12rem;
    left: 36em;
    top: 2.5em;
  }
  /***ERP Section***/
  .erp-section-container {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }
  .erp-video {
    margin-top: 2rem;
    width: 25rem;
  }
  .erp-button {
    width: 8rem;
    margin-left: 1rem;
    font-size: 0.8rem;
  }
  /***ERP Inner Section***/
  .erp-inner-heading {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
  .erp-card-border {
    height: 8rem;
  }
  .erp-card-text {
    font-size: 0.9rem;
  }
  /***Permissions Section ***/
  .permissions-section {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }
  .permissions-heading-section {
    font-size: 2rem;
  }
  .permissions-title-border {
    width: auto;
    flex: 1;
  }
  .permissions-card-image {
    width: 15rem;
  }
  .container {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .overlay {
    width: 14.9rem;
    left: 1px;
  }
  .overlay-text {
    line-height: normal;
    font-size: 0.9rem;
  }
  /***Permissions Inner Section***/
  .background-row {
    flex-direction: row;
  }
  .heading {
    margin-top: 5rem;
  }
  .border-section {
    width: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .drawer-row {
    flex-direction: row;
  }
  .drawer-text-container {
    margin-top: 2.5rem;
  }
  .review-heading {
    margin-bottom: 1rem;
  }
  /***Notice Board Section ***/
  .notice-board-heading {
    font-size: 2rem;
  }
  .notice-board-section {
    flex-direction: row;
  }
  .notice-board-image {
    width: 18rem;
    margin-top: -2em;
  }
  .notice-board-border {
    width: 18rem;
    height: 13.5rem;
    margin-left: 2rem;
  }
  .notice-board-paragraph {
    width: 17rem;
    margin-top: -1em;
  }
  .notice-button {
    margin-top: 0;
    margin-left: 15rem;
  }
  /***Notice Board Inner Section***/
  .notice-inner-heading {
    font-size: 2rem;
  }
  .notice-inner-row {
    flex-direction: row;
  }
  .notice-inner-video {
    width: 50%;
    height: 14rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }
  .notice-text {
    margin-top: 2rem;
  }
  .notice-overlay-image {
    width: 15.6rem;
    height: 9.9rem;
    top: 16rem;
    left: 5.9rem;
    position: absolute;
  }
  .notice-inner-text {
    font-size: 0.7rem;
    line-height: 1.2rem;
    text-align: justify;
    width: 20rem;
  }
  .row-section {
    flex-direction: row;
  }
  .notice-inner-section {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  /***Features Section***/
  .features-inner {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
  }
  .features-border-section {
    margin-left: 0;
    margin-right: 0;
  }
  /***Features Inner Section***/
  .features-inner-heading {
    font-size: 2rem;
    text-align: center;
    margin-right: 3rem;
  }
  .features-inner-row {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }
  .features-card-row {
    margin-top: 0;
  }
  .features-card-heading {
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  /***Footer Section***/
  .footer-section {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-about-section {
    width: auto;
    margin-top: -7rem;
  }
  .footer-about-heading {
    margin-left: 3rem;
    text-align: center;
  }
  .footer-about-content {
    width: 15rem;
    margin-left: 4rem;
    align-self: auto;
  }
}
  /*Transport Section*/
  @keyframes move
    {
        50%  {
          left: 100%;
          transform: rotate(0deg) ;
        }
        52% {
         transform: rotate(90deg);
        }
        70% {
          transform: rotate(180deg);
        }
        100% {
          left: 0%;
          transform: rotate(360deg);}
    }
