/**GPS Section**/
.section-gps-header {
  background-image: url(/public/images/transport.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 18rem;
  justify-content: center;
}
.section-gps__middle-image {
  background-image: url(/public/images/transport.png);
  background-size: 100% 100%;
  min-height: 15rem;
}
.section__content {
  margin-bottom: 2rem;
}
.gps-card__row {
  margin-top: 1rem;
}
.gps-card__wrapper {
  margin: 1rem 1rem;
}
.gps-card__icon {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}
.section-gps__background-color {
  background-color: #f5f5f5;
}
.section-gps__image {
  min-height: 8rem;
}
.gps-row-card__wrapper {
  margin: 1rem 1rem;
  align-items: center;
}
.gps-row-card__image {
  width: 100%;
}
.gps-row-card__content {
  width: 100%;
}
@media only screen and (min-width : 768px) {
  .section-gps__image {
    min-height: 8rem;
  }
  .section-gps__text {
    width: 50rem;
    line-height: 1.5rem;
  }
  .gps-card__row {
    margin-top: 2rem;
  }
  .gps-card__wrapper {
    margin: 2rem 5rem;
  }
  .gps-row-card__wrapper {
    margin: 2rem 5rem;
    flex-direction: row;
    justify-content: space-around;
  }
  .gps-row-card__image {
    width: 80%;
    height: 12rem;
  }
  .gps-row-card__content {
    width: 60%;
  }
}
